@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <div class="sidebar-brand">Edict Sample</div>
        <NavMenu />
    </nav>
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
