<nav class="nav-menu">
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="orders">Orders</NavLink>
    <NavLink href="fulfillment">Fulfillment</NavLink>
    <NavLink href="dead-letter">Dead Letter</NavLink>
    <NavLink href="claim-check">Claim Check</NavLink>
    <NavLink href="idempotency">Idempotency</NavLink>
</nav>
